:root{
    --header-height:2rem;
    --hue-color:355; 
    --first-color:hsl(var(--hue-color), 1%, 91%);
    --second-color:hsl(var(--hue-color), 100%, 45%);
    --color-alt:hsl(var(--hue-color), 69%, 16%);
    --color-lighter:hsl(var(--hue-color),  3%, 90%);
    --title-color:hsl(var(--hue-color),0%, 4%);
    --text-color:hsl(var(--hue-color), 5%, 100%);
    --text-color-light:hsl(var(--hue-color), 2%, 60%);
    --input-color:hsl(var(--hue-color), 70%, 96%);
    --body-color:hsl(var(--hue-color), 60%, 99%);
    --container-color:#fff;
    --body-font: 'Times New Roman', Times, serif;
    --log_font:'Mea Culpa', cursive;
    --big-font-size:2rem;
    --h1-font-size:1.5rem;
    --h2-font-size:1.25rem;
    --h3-font-size:1rem;
    --normal-font-size:.938rem;
    --small-font-size:.813rem;
    --smaller-font-size:.75rem;

    --font-medium:500;
    --font-semi-bold:600;

                         /* ===========margin bottom =============*/

    --mb-0-25:.25rem;
    --mb-0-5:.5rem;
    --mb-0-75:.75rem;
    --mb-1:1rem;
    --mb-1-5:1.5rem;
    --mb-2:2rem;
    --mb-2-5:2.5rem;
    --mb-3:3rem;

                                     /* z index */
    --z-tooltip:10;
    --z-fixed:100;
    --z-modal:200;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;   
    direction: ltr;   
    font-family:  var(--body-font);                                 
  }
html{
    scroll-behavior: smooth;
  }
.grid-container {
    display: grid;
    direction: ltr; 
    grid: 1 / auto auto auto auto auto;
    grid-gap: 0px;
    margin: 0;
    padding: 0px;
  }
/* header */
.navbar{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    direction: ltr;
}
 .header-1{
    background-color: var(--color-lighter);
    direction: ltr;
  }
.nav_list{
      padding: 5px 0 ;
      color:black;
      display: flex;
      flex-direction: row;
      list-style: none; 
      width: 100%;
direction: ltr;
justify-content: space-between;
  }

.nav_item {
    font-size: var(--h3-font-size);
    display: inline;
    text-align: left;
    padding: 5px;
    text-decoration: none;
    border-left: 1px solid black;
}
  
.nav_link {
    text-decoration: none;
    color: black;
    margin: 5px 11px;
    text-align: left;  
}
.nav_link:hover{
    color: var(--first-color);
}
.nav_icon{
    width: 23px;
    height: 15px;
    margin: 0 10px;
    text-align: left;

} 

.header-2{
    background: var(--container-color);
    padding: .5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 50px;
    height: 50%;
    border-radius: 50%;
}
.logo img{
   width: 100%;
   height: 100%;
   border-radius: 50%;
}
.search-form{
    width: 50rem;
    height:2.5rem;
    background: var(--color-lighter);
    display: flex;
    align-items: center;
    border-radius: var(--mb-1-5);
}
.search-form input{
    font-size: var(--h2-font-size);
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    border: none;
    background: var(--color-lighter);
    text-transform: none;
    color: var(--text-color-light);
}
.fa-search{
    padding: 10px;
    font-size: var(--h2-font-size);
    color: var(--text-color-light);
}
.icon_shop{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-lighter);  
    transform: rotateY(-180deg); 
}
.icon_shop img{
    transform: rotateY(-180deg);
} 

   /* login */
     
.container {
    padding: 36px;
    margin: 0 3rem;
  }
.container2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container2 p{
    text-align: center;
    color: var(--title-color);
 
}
.login_btn2{
    background-color: var(--container-color);
    color: var(--title-color);
    padding: 14px 20px;
    margin: 8px auto;
    border-radius: var(--mb-0-5);
    cursor: pointer;
    font-size: var(--normal-font-size);
    width: 50%;
    border: none;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);

}
.counter-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
     color: rgb(69, 86 ,115);
     background-color: rgba(255, 0, 0, 0.2);
}

.prev, .next,.text {font-size: 11px}

input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    font-size: var(--normal-font-size);
    display: inline-block;
    background-color: var(--color-lighter);
    border-radius: var(--mb-0-25);
    color: var(--text-color-light);
  }
  
  /* Set a style for all buttons */
  .login_btn {
    background-color: var(--second-color);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    font-size: var(--h2-font-size);
    border-radius: var(--mb-0-5);
    cursor: pointer;
    width: 100%;
  }
  
  .login_btn:hover {
    opacity: 0.8;
  }
  .textcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  .psw a{
      margin-top: -55px;
      margin-left: 20px;
    float: left;
    color: blue;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    z-index: 10;
  }
  
  /* The Modal  */
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
  
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: var(--container-color);
    margin: 1% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    border-radius: var(--mb-0-5);
    width: 40%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close2 {
    position: absolute;
    right: 25px;
    top: 0;
    color: var(--container-color);
    font-size: 35px;
    font-weight: bold;
  }
  
  .close2:hover,
  .close2:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  


  /* ////////////sign up /////////////////*/
  
/* Full-width input fields */
input[type=email],input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    font-size: var(--normal-font-size);
    border-radius: var(--mb-0-5);
    background: var(--color-lighter);
  }
  input[type=tel],select{
    width: 60%;
    padding: 15px;
    margin: 5px 0 22px 0;
    font-size: var(--h3-font-size);
    border: none;
    border-radius: var(--mb-0-5);
    background: var(--color-lighter);
    float: right;
  }
  select{
    width: 35%;
    float: left;
  }
  select img{
      width: 20px;
      height: 20px;
      position: relative;
  }
  .modal-content p{
      padding: 10px;
  }
.container2 img{
    width: 10px;
    height: 10px;
}
  input[type=text]:focus, input[type=password]:focus,
  input[type=email]:focus,input[type=number]:focus {
    background-color:var(--color-lighter);
    outline: none;
  }
  
  .sign_btn3 {
    background-color: var(--text-color-light);
    color: var(--title-color);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: var(--mb-0-5);
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Add padding to container elements */
  .container {
    padding: 10px;
  }
  

  /* Style the horizontal ruler */
  hr {
    border: 1px solid var(color-light);
    margin: 10px 0 10px 0;
  }
   
  /* The Close Button (x) */
  .close3 {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close3:hover,
  .close3:focus {
    color: #f44336;
    cursor: pointer;
  }
  


/* slide */

 .mySlides {display: none}

.mySlides img {
width: 100%;}


.slideshow-container {
  position: relative;
  width: 100%;
  height: 100%;
}

 .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  left: 82rem;
  border-radius: 3px 0 0 3px;
}

 .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



 .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {

  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}




                    /* dep_card */
 .row{
    display: flex;
    padding: 0 40px;
    margin-bottom: 2rem;
    justify-content:space-between;     
    align-items: center;                                       
}
.section-title{
    margin-right: 2rem;
    margin-bottom: 1rem;
}
.section_dep h2{
    margin: var(--mb-1-5);
color: var(--color-alt);
}
.dep_row1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px;
}
.dep_row1 a{
   
    color: blue;
    text-decoration: none;
}
    .div3,
    .div1{
    width: 35%;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .div2{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.p_lig{
color: var(--text-color-light);
}
.ch_div2_l{
    float: left;
}
.column {
    width: 25%;
    padding: 10px 5px 10px 40px;
    margin: 10px 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .card {
      width: 100%;
    padding: 16px ;
    margin-right: 20px;
    text-align: center;
    background-color: var(--container-color);
}
  .cr_icon{
      width: 45px;
      height: 45px;
  }
  .prev_card, .next_card {
    cursor: pointer;
    position: absolute;
    top: 108%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next_card {
    right: 81rem;
    border-radius: 3px 0 0 3px;
  }
  .prev_card {
    right: 10px;
  }
   .prev_card:hover, .next_card:hover {
    background-color: rgba(95, 95, 95, 0.8);
  }
      
  /* gallery */
  .row_wr{
    display: flex;
    padding: 0 40px;
    margin-bottom: 2rem;
    justify-content:space-between;     
    align-items: center;   
    flex-wrap: wrap; 
  }
  .myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 25%;
    padding: 10px 15px;
}

.myImg:hover {
    opacity: 0.7;
}
.modal-content_sh {
    background-color: var(--container-color);
    margin: 6rem 13rem; /* 5% from the top, 15% from the bottom and centered */
  
    width: 70%; /* Could be more or less, depending on screen size */
  }
/* The Modal (background) */
.modal,.modal_sh_ho {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

 /* card */
 .card_sal {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border-radius: 5px;
  }
  .im_book{
    height: 170px;
    width: 80%; 
}
.card_im{
    display: flex; flex-direction: row; margin: 0 25px;
}
  .card_sal button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    margin: 0 5px;
    overflow: hidden;
    cursor: pointer;
  }
  .card_icon{
    background-color: var(--second-color);
    color: white;
  }
  .card_icon img{
      width: 35px;
      height: 35px;
  }
  .card_icon2{
    background-color: var(--container-color);
  }
  .card_icon2 img{
    width: 35px;
    height: 35px;
}
  .card_sal p{
      color: var(--text-color-light);
      font-size: 12px;
  }
  .card_sal span{
    color: #5f5f5f;
    font-size: 16px;
}
  .price {
    color: var(--second-color);
    font-size: 20px;
    font-weight: bold;
  }
  .row_le{
      display: flex;
      float: left;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 20px;
      margin-right: 60px;
  }
  .cou_num{
      border: 1px solid var(--title-color);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-radius: 5px;
  }
  .line{
        border: 1px solid var(color-light);
        margin: 20px ;
      
  }
.pl_num{
    margin-right: 1rem;
}
  .con_btn{
      display: flex;
      flex-direction: column;
    width: 30px;
  }
 /* footer */


footer{
    color: whitesmoke;
    background-color: black;
    padding: 40px 50px;
    height: 100%;
    width: 100%;
  
}
.fact-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: right;
    direction: rtl; 
    overflow: hidden; 
}
.fact-col ul li{
    color: whitesmoke;
    display: block;
    text-decoration: none;
}
.fact-col  a{
    color: whitesmoke;
    font-size: 16px;
    align-items: flex-start;
    text-decoration: none;
}
.fact-col p{
    padding: 0;
}
.fact-col h3, .row2 h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: right;
    border-bottom: 2px solid var(--text-color-light);
    margin-left: 5rem;
    width: auto; 
}
.fo_form{
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
    padding: 10px;
    border-radius: .5rem;
}
.input_em{
    font-size: 20px;
    color: var(--color-lighter);
    border-radius: .5rem;
    padding: 5px;
    width: 100%;
    margin-bottom: .5rem;
}
.button{
    background-color: var(--container-color);
    color: var(--title-color);
    padding: .8rem;
    border-radius: .5rem;
    font-weight: var(--font-semi-bold);
    transition: .3s;
    width: 6rem;
    align-self: end;
    cursor: pointer;
}
.button:hover{
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    background-color: var(--first-color);
}

.footer_social{
    font-size: 1.25rem;
    margin-right: var(--mb-1);
    text-decoration: none;
}
.row2 h3 {
    width: 15%;
 }
.row3{
    width: 100%;
    background-color: var(--color-lighter);
    margin: 0;
    padding: 2rem 2rem 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.row3 img{
width: 60px;
height: 50px;
padding-right: .5rem;
}
/* /////////////////////sal */
.title_sal{
    margin:0 5rem;
    padding: 1rem;
    
}
.chil_1 img{
    margin-right: 15px;
}

 .sal-container {
    display: grid;
    grid-template-columns: 40% 50%;
    grid-gap: 10px 30px;
    direction: ltr;
    background-color: var(--container-color);
    padding: 10px  16px;
    
  }
  .note {
    background-color: #ffffcc;
    border-right: 6px solid #ffeb3b;
    padding-right: 10px;
  }
  .sal-container > div {
    border: 5px #222222;
    text-align: start;
    padding: 10px 0;
 
  }

  .item1{
   
    display: flex;
    flex-direction: row;
    border-radius: 5px;
  }

  .chil_2 h3{
      padding-right: 10px;
      font-size: var(--h2-font-size);
  }
  .chil_2 p{
    font-size: 15px;
    padding:0  5px;
}

.item2,.item3{
    border-radius: 5px;
   
    display: flex;
    flex-direction: row;
    
  }
  .big_it{
      display: flex;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
      flex-direction: column;
  }
 .item2,.item1,.item3{
    justify-content:space-between ;
 }
  .item4 {
      grid-row: 1 / 4;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 300px;
    
  } 
.ch_item{
    padding:0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: var(--mb-1);
}
.ch_item p {
    font-size: 16px;
}
.ch_item span{
    font-size: 20px;
    font-weight: bold;
}
.ch_item2{
    margin-top: 30px;
}
.ch_item2 p{
    font-size: 16px;
    padding:0 15px;
}

.btn_x{
   text-decoration: none;
   font-size: 20px;
   margin: 0 40px 10px 0;
}

.ch_item2 button {
    background-color: var(--second-color);
    color: white;
    padding: 14px 20px;
    margin: 8px 0 0 0;
    border: none;
    font-size: var(--h2-font-size);
    border-radius: var(--mb-0-5);
    cursor: pointer;
    width: 100%;
  }
  .ch_item2 button a{
    color: white;
    text-decoration: none;
  }
  /* /////////////////category/// */
.category1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    direction: ltr;

}
.cate1 {
    padding: 15px 20px 10px 0;
    margin: 5px 0 0 80px;
    justify-content: center;
    color: black;
    width: 200px;
   
  }

  .cate1  #searchbar{
    padding:10px;
    background-color: var(--container-color);
    border: 1px solid black;
    
}

.book_card{
display: list-item;	
}

  .cate-container{
    direction: ltr;
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    grid-gap: 5px;
    padding: 0px;
    
  }

  .cate2{
    padding: 15px 20px 10px 0;
    margin: 5px 0 10px 0;
    background-color: var(--container-color);
    border: 2px green solid;
    border-radius: var(--mb-0-5);
    color: green;
    justify-content: center;
    height: 54px;
    width: 20%;
  }
  .cate2 img{
      width: 20px;
      height: 20px;
      
  }
  .cate3{
      display: flex;
      flex-direction: column;
     
      margin-right: 20px;

  }
  .c3_item{
      margin: 0;
      padding: 0;
  }
.cate_right{
    background-color: green;
    font-size: 20px;
    
}

.fa-star{
    color: var(--text-color-light);
}
.checked {
    color: yellow;
  }
.cate21{
    height: 50px;
    width: 92%;
    padding: 7px;
    text-align: center;
    font-size: 20px;
    color: var(--container-color);
    grid-column: 1/5;
    margin: 5px 0px 5px 50px;
    border-radius: var(--mb-0-5);
    background-color: rgb(78, 78, 212);
}
.cate23{
    height: 10px;
    width: 92%;
    grid-column: 1/5;
    margin: 5px 0px 5px 50px;
    border-radius: var(--mb-0-5);
    background-color: rgb(193, 193, 196);

}
.cate25{
    height: 50px;
    width: 92%;
    padding: 7px;
    font-size: 20px;
    font-weight: bold;
    color: green;
    grid-column: 1/5;
    margin: 5px 0px 5px 50px;
    border:none;
}
.sal_but{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sal_but select{
    width: 20%;
   margin:  9px;
   padding: 10px 20px;
}
.sal_but div{
    width: 80%;
}

.add_bt{
        background-color: var(--second-color);
        color: white;
        padding: 10px 20px;
        margin: 8px 0 0 0;
        border: none;
        font-size: var(--h2-font-size);
        border-radius: var(--mb-0-5);
        cursor: pointer;
        width: 100%;
      
}
.ico_bt{
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
}
.ico_bt span{
    margin:  20px;
    font-weight: bold;
}
.bt_svg{
    background-color: var(--container-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2);
}
.div3_d2{
    margin-right: 20px;
}
.div3_d2 button{
    margin: 0 10px;
}
 /* Responsive columns */
 @media screen and (max-width: 500px) {
    .nav_list .nav_item {
        border: none;
        text-decoration: none;
    }
    .nav_link{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.1rem;
        color:var(--title-color);
        font-weight: var(--font-medium);
    }  
    .nav_link:hover{
        
        align-items: center;
        font-size: 1.2rem;
        color:#920000;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }  
    .nav_icon{
   visibility: hidden;
    }
    .header-2{
        display: flex;
        margin: 1rem;
        flex-direction: column;
    }
    .search-form{
        width: 25rem;
        height:2.5rem;
        background: var(--color-lighter);
        display: flex;
        align-items: center;
        border-radius: var(--mb-1-5);
        margin: 10px;
    }

    .row, .row_wr{
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        margin:  auto;
        align-items: center;  
                                             
    }
    .psw {
        display: block;
        float: none;
     } 
    .row_wr img{
        width: 100%;
    }
    .row2,.row3{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;  
    }  
    .card{
        width: 100%;
        justify-content: center; 
     
    }
    .column {
       width: 60%;
       margin: 20px 20px;
      }
      .prev_card, .next_card {
       display: none;
      }
      .footer_im {
          overflow: hidden;
      }
      .card_sal{
          margin: 10px 0;
      }
      .fact-col {
       text-align: center;
        margin-bottom: 35px;  
    }
 .sal-container {
display: flex;
flex-direction: column;
justify-content: center;
  }
  .sal-container > div {
    border: 5px #222222;
    text-align: center;
    padding: 10px 0;
  }

  .item1,.item2,.item3{
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px;
  }
  .chil_1 img{
    width: 50%;
}
.cou_num{
    width: 40%;
    margin: auto;
}
  }
  @media only screen and (max-width: 900px) {
    .nav_link{
        
        align-items: center;
        font-size: 1rem;
        margin: 20px;
        padding: 10px 0;
        color:var(--title-color);
        font-weight: var(--font-medium);
        
    } 
   .nav_list{
    overflow: hidden;
    padding: 10px;
 
   }
   .nav_list .nav_item{
    border-right: none;
    
   }
    .modal-content {
        width: 100%;
    }
    .row, .row_wr{
        display: flex;
      flex-wrap: wrap;
      padding: 10px ;
        justify-content: space-between; 
        margin:  auto;
        align-items: center;  
                                             
    }
    .card_sal{
        margin: 10px 0;
    }
    .prev_card, .next_card {
        display: none;
       }
       .row_wr img{
           margin: auto;
        width: 70%;
    }
    .div3,.div2,
    .div1{
    width: 80%;
    padding: 0 15px;
    margin: 20px;
  }
  .sal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
      }
      .sal-container > div {
        border: 5px #222222;
        text-align: center;
        padding: 10px 0;
        margin: auto;
      }
.item4{
    width: 71.5%;
}
}
